.page-header
  %h1= t('devise.confirmations.title')

= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f|
  = f.error_notification
  = f.full_error :confirmation_token
  = f.input :email, required: true, autofocus: true
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, t('devise.confirmations.submit_button'), class: 'btn-primary'
= render "devise/shared/links"
