= simple_form_for friend, html: { class: 'form-horizontal' } do |f|
  = render 'shared/object_errors', object: friend

  = f.input :fullname
  = f.input :email
  = f.input :phone
  = f.association :groups, as: :check_boxes
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn-primary'
