%tr
  %td= friend.fullname
  %td= friend.email
  %td= friend.phone
  %td= friend.group_names
  %td= friend.attendance_percentage
  %td
    = friend.show_link
    = friend.edit_link
    = friend.destroy_link
