%tr
  %td= friend.fullname
  %td= friend.email
  %td= friend.phone
  %td= friend.group_names
  %td= friend.attendance_percentage
  %td
    = link_to 'Show', friend
    = link_to 'Edit', edit_friend_path(friend)
    = link_to 'Destroy', friend, data: { confirm: 'Are you sure?' }, method: :delete
