%tr
  %td= friend.fullname
  %td= friend.email
  %td= friend.phone
  %td= friend.group_names
  %td= friend.attendance_percentage
  %td
    = link_to t('show'), friend
    = link_to t('edit'), edit_friend_path(friend)
    = link_to t('destroy'), friend, data: { confirm: t('confirmation') }, method: :delete
