%tr
  %td= group.name
  %td= group.friends_count
  %td
    = link_to 'Show', group
    = link_to 'Edit', edit_group_path(group)
    = link_to 'Destroy', group, data: { confirm: 'Are you sure?' }, method: :delete
