%tr
  %td= group.name
  %td= group.friends_count
  %td
    = link_to t('show'), group
    = link_to t('edit'), edit_group_path(group)
    = link_to t('destroy'), group, data: { confirm: t('confirmation') }, method: :delete
