%tr
  %td= event.state
  %td= event.searched_name
  %td= event.start_at
  %td= event.attendances_count
  %td= event.limit_label
  %td= event.invite_from
  %td
    = event.show_link
    = event.edit_link
    = event.destroy_link
