%tr
  %td= event.state
  %td= event.name
  %td= event.start_at
  %td= event.attendees_count
  %td= "#{event.attendees_min_count || '*'} - #{event.attendees_max_count || '*'}"
  %td= event.invite_from
  %td
    = link_to 'Show', event
    = link_to 'Edit', edit_event_path(event)
    = link_to 'Destroy', event, data: { confirm: 'Are you sure?' }, method: :delete
