%tr
  %td= event.state
  %td= event.name
  %td= event.description
  %td= event.start_at
  %td= event.invite_from
  %td= event.invite_to
  %td= event.attendees_min_count
  %td= event.attendees_max_count
  %td= event.minutes_for_answer
  %td= event.public_attendees_list
  %td= event.creator_id
  %td= link_to 'Show', event
  %td= link_to 'Edit', edit_event_path(event)
  %td= link_to 'Destroy', event, :data => { confirm: 'Are you sure?' }, :method => :delete
