.page-header
  = link_to new_event_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Event
  %h1 Listing events

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Start time
        %th Description
        %th Invite start
        %th Inivite stop
        %th User min
        %th User max
        %th Time
        %th Join
        %th Public
        %th
        %th
        %th

    %tbody






      = search_form_for @search do |f|
        =f.label :name_cont, 'Name contains'
        =f.text_field :name_cont
        %tr
        =f.label :description_cont, 'Description constains'
        =f.text_field :description_cont
        =f.label :start_time_cont, 'Start time'
        =f.text_field :start_time_cont
        =f.submit 'Search'

        = paginate @events
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.start_time
          %td= event.description
          %td= event.invite_start
          %td= event.inivite_stop
          %td= event.user_min
          %td= event.user_max
          %td= event.time
          %td= event.join
          %td= event.public
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, :data => { confirm: 'Are you sure?' }, :method => :delete


