.page-header
  = link_to posts_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_post_path(@post), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show post

%dl.dl-horizontal
  %dt Name:
  %dd= @post.name
  %dt Description:
  %dd= @post.description
  %dt Active:
  %dd= @post.active
